
body {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
}

nav {
  background-color:#34d399; 
  padding: 20px 40px;
  display: flex;
  justify-content:right;
  align-items: center;

}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent; 
  padding-bottom: 3px;
  transition: border-bottom-color 0.3s ease;
}

nav li a:hover {
   border-bottom-color: white;  
}

